.rmap {
    height: 100%;
    width: 100%;
    position: relative;
    background-image: url(../images/rmap.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    grid-column: 1 / 3;
    grid-row: 1 / 3;
    min-height: 300px;
    overflow: hidden;
}

.legend {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr 4fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}

ic {
    aspect-ratio: 1 / 1;
    display: block;
    position: absolute;
    width: 2em;
    height: auto;
    border-radius: 100%;
    background-position: center;
    background-size: 103% 103%;
    transform: translate(-50%, -50%);
    z-index: 10;
}

ic:hover {
    cursor: pointer;
}

.legend ic {
    width: 100%;
    position: relative;
    transform: none;
}

.herbivore {
    background-image: url(../media/icons/plant.svg);
}

.carnivore {
    background-image: url(../media/icons/vlees.svg);
}

.flying {
    background-image: url(../media/icons/lucht.svg);
}

.harbor {
    background-image: url(../media/icons/haven.svg);
}

.building {
    background-image: url(../media/icons/building.svg);
}

.helicopter {
    background-image: url(../media/icons/helicopter.svg);
}

.tourcar {
    background-image: url(../media/icons/tourcar.svg);

}

.tourboat {
    background-image: url(../media/icons/tourboot.svg);
}

.toilet {
    background-image: url(../media/icons/toilet.svg);
}

.cabin {
    background-image: url(../media/icons/cabin.svg);
}