
@import url('https://fonts.googleapis.com/css2?family=Bevan&display=swap');

html,
body,
.container {
    height: 100%;
    width: 100%;
}

body {
    background-color: #333333;
}

.container {
  display: grid;
  grid-template-columns: repeat(12, 1fr); /* 12 kolommen */
  grid-template-rows: 200px 1fr;
  padding: 40px;
}

/* Grid posities */
.map {
  grid-column: span 6;
  grid-row: 1 / span 2; /* Over twee rijen */
  height: 100%;
  width: 100%;
  position: relative;
}

.legenda {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 30%;              /* bijvoorbeeld */
  height: 200px;
}

.title {
  grid-column: span 6;
  grid-row: 1;
  height: 100%;
  width: 100%;
}

.title, h1 {
    text-align: center;
    font-family: 'Bevan', serif;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.info {
  grid-column: span 6;
  grid-row: 2;
  height: 100%;
  width: 100%;
}

#info {
  display: grid;
  column-gap: 50px;
  grid-template-columns: auto auto;
  padding: 10px;
}

.text {
  /* position: absolute; */
  width: 50%;            
  height: 300px;
}

.picture {
  width: 50%;              
  height: 300px;
  background-image: url('images/dino.png');
}

.searchInput {
  width: 50%;  
  height: 50px;            
}

.searchResults {
  width: 50%;              
  height: 300px;
}